<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Simple Sidebar - Start Bootstrap Template</title>
        {% load static %}
        <!-- Favicon-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <link rel="icon" type="image/x-icon" href= "{% static '/myapp/favicon.ico' %}">
<!--        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />-->
        <!-- Core theme CSS (includes Bootstrap)-->
<!--        <link href="css/styles.css" rel="stylesheet" />-->
        <link rel="stylesheet"  href= "{% static '/myapp/styles.css' %}">
            <style>
            .inneritem {
                float: left;
                margin-right: 30px;
                        }

            .buttonitems {
    float: left;
    width: 100%;
    margin-top: 30px;
    margin-left: 12px;
}
            </style>
    </head>
    <body>
    <form  id="my-form" method="post">
                    {% csrf_token %}
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">My Project</div>
                <div class="list-group list-group-flush">
                    {% if side_menus %}
                    {% for menu in side_menus %}
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'dataloader' item=menu %}?item={{menu}}">{{menu}}</a>

                    {% endfor %}
                    {% else %}
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">No Item</a>
                    {% endif %}

                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
<!--                        <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>-->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">Action</a>
                                        <a class="dropdown-item" href="#!">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">Something else here</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>


                <!-- Page content-->
                <div class="container-fluid">

                    <h1 class="mt-4">{{heading}}</h1>
                    {% if mydata %}
                    {% for item in mydata %}

                    <div class="inneritem">

                        <label class="allkeys" id= allkeys for="allvalues">{{item.1}}</label><br>
                        <input type="text" class="allvalues" id="allvalues" name="label" value="{{item.0}}">

                    </div>

                    {% endfor %}
                    {% endif %}
                </div>

                <div class="buttonitems">
                    {% if mydata %}
                        <button type="button" class="btn btn-success" onclick="myFunction()">Save</button>
                        <button type="button" class="btn btn-danger">Cancel</button>
                    {% endif %}
                </div>


            </div>


        </div>

        </form>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->

        <script src="{% static '/myapp/scripts.js' %}"></script>
        <script src="{% static '/myapp/myjsfile.js' %}"></script>

<!--        <script src="js/scripts.js"></script>-->
    </body>
</html>
