<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Simple Sidebar</title>
        {% load static %}
        <!-- Favicon-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


        <link rel="icon" type="image/x-icon" href= "{% static '/myapp/favicon.ico' %}">
<!--        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />-->
            <!-- Core theme CSS (includes Bootstrap)-->
<!--        <link href="css/styles.css" rel="stylesheet" />-->
        <link rel="stylesheet"  href= "{% static '/myapp/styles1.css' %}">

    </head>
    <body>
    <form  id="my-form" method="post">
        {% csrf_token %}
        <div class="wrapper">

        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><a href="/">My Project</a></h3>
            </div>

            <ul class="list-unstyled components">

                <p>Main Folders</p>

                <li class="active">
                    {% if side_menus %}
                    {% for menu in side_menus %}
                    <a href="#{{menu.mainfolder}}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{menu.mainfolder}}</a>
                    <ul class="collapse list-unstyled" id="{{menu.mainfolder}}">
                        {% for sub_menu in menu.sub_folders %}
                        <li>
                            <a href="#{{sub_menu.name}}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{sub_menu.name}}</a>
                                <ul class="collapse list-unstyled" id="{{sub_menu.name}}">
                                    {% for file in sub_menu.files %}
                                    <li>
                                        <input type="hidden" class="hidden1" value="{{item2}}">
                                        <a href="{% url 'dataloader' menu.mainfolder sub_menu.name file%}" class="words" >{{file}}</a>
                                    </li>
                                    {% endfor %}

                                </ul>

                        </li>
                        {% endfor %}
                    </ul>
                    {% endfor %}

                    {% else %}
                    <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">No Item</a>
                    {% endif %}
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Saleet </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Logout</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
                            <div class="container-fluid">

<!--                    <h1 class="mt-4">{{heading}}</h1>-->
                                <input type="hidden" class="hidden" value="{{csv}}">
                    {% if mydata %}
                    {% for item in mydata %}

                    <div class="inneritem">

                        <label class="allkeys" id= allkeys for="allvalues">{{item.1}}</label><br>
                        <input type="text" class="allvalues" id="allvalues" name="label" value="{{item.0}}">

                    </div>

                    {% endfor %}
                    {% endif %}
                </div>
            <div class="buttonitems">
                    {% if mydata %}
                        <button type="button" class="btn btn-success" >Siguiente</button>
                        <button type="button" class="btn btn-info">Cancel</button>
                    {% endif %}
                </div>
                  </div>




    </div>
    </form>

        <!-- Bootstrap core JS-->
<!--        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>-->
<!--        <script src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- Core theme JS-->

        <script src="{% static '/myapp/scripts.js' %}"></script>
        <script src="{% static '/myapp/myjsfile.js' %}"></script>
        <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                });
            });
        </script>

    </body>
</html>
